.formContainer {
  display: flex;
  flex-direction: column;
  width: 75%;
  gap: 0.8rem;
}

.body {
  padding: 1rem;
  text-align: left;
}

.deleteButton {
  color: grey;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    color: #000;
  }
}