.unfollowButton {
  align-items: center;
  display: flex;
  gap: 0.3rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
  color: #6c757d;
  border: 1px solid #6c757d;
  font-weight: 400;
  transition: 0.2s;

  &:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }
}

.followButton {
  align-items: center;
  display: flex;
  gap: 0.3rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
  color: #6c757d;
  border: 1px solid #6c757d;
  font-weight: 400;
  transition: 0.2s;

  &:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }
}