.pagination {
  margin: 1rem 0;
  display: flex;
  gap: 0.2rem;
  color: #5CB85C;
  flex-wrap: wrap;
}

.paginationItem {
  border: 1px solid gray ;
  border-radius: 0.3rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: #5CB85C;
    color: #fff
  }
}

.paginationItemActive {
  border: 1px solid gray ;
  border-radius: 0.3rem;
  padding: 0.5rem;
  cursor: pointer;
  background: #5CB85C;
  color: #fff;
  transition: 0.2s;

  &:hover {
    background: green;
  }
}