.button {
  background-color: #5CB85C;
  border-radius: 5px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem;
}

.buttonSmall {
  background-color: #5CB85C;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
}